# Default ignored files
/../../Internet MHS Co./.idea/shelf/
/../../Internet MHS Co./.idea/workspace.xml
# Datasource local storage ignored files
/../../Internet MHS Co./.idea/dataSources/
/../../Internet MHS Co./.idea/dataSources.local.xml
# Editor-based HTTP Client requests
/../../Internet MHS Co./.idea/httpRequests/
